.h1-thom {
    background-image: linear-gradient(to right, #3b6cc2, #230657);
    font-family: 'Alfa Slab One', cursive; 
  }

  .text-color {
    color: white;
    text-align: center;
  }

  .uv-index {
      padding: 10px;
      background-color: #157e51;
      border-radius: 7%;
      color: white;
  }

  .forecast-boxes {
      margin: 5px;
      padding: 10px 15px;
      background-color: #33475a;
      color: white;
  }